/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.card-panel{
  opacity: 0.9;
  border-radius: 50px;
}

.white{
  height:90px;
}

.card .card-image img {
  opacity:0.8;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

blockquote{
  border-left: 5px solid #26a69a;
}

#recipe_css_image{
 border-radius: 10%;
 margin-top: 15px;
 height: auto;
 max-width: 60%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#rating_icon{
  position: relative;
  /* Adjust these values accordingly */
  top: 7px;
  right: 6px;
  color: #26a69a;;
}

#current_image{
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #26a69a;
}

#icon_left{
  position: relative;
  /* Adjust these values accordingly */
  top: 4px;
  right: 6px;
  color: #26a69a;
}

#container_icon{
  position: relative;
  /* Adjust these values accordingly */
  top: 4px;
  right: 6px;
  color: #26a69a;
}

#table_border {
  border-bottom-color: #26a69a;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

#edit_container{
  background-color: #D0E7E0;
  padding:50px;
  border-radius: 2%;
}

hr{
  border-color: #26a69a;
  border-width: 0.5px;
}

span.uppercase{
  text-transform: uppercase;
}

.tabs .tab a {
    color: #26a69a;
    background-color: transparent;
} /*colour of text*/
    
.tabs .tab a.active {
    background-color: transparent;
    color: #26a69a;
    outline: none;
} /*Background and text color when a tab is active*/

.tabs .tab a:hover {
    background-color: transparent;
    color: #26a69a;
} /*Background and text color on hover*/

.tabs .indicator {
    background-color: #26a69a;
} /*Color of underline*/


table.striped > tbody > tr > td{
  background-color:#e7fffd;
}