{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
        <h1 class="header center teal-text text-lighten-2">Edit Recipe</h1>
        <div class="row center">
          <h5 class="header col s12 dark">Edit recipe details below and hit the button 'Submit Changes'</h5><br>
        </div>
</div>

<div class="container">
  <ul class="collapsible">
    <li>
    <div class="collapsible-header"><i class="material-icons">info</i>Instructions For Pasting Image Links</div>
    <div class="collapsible-body"><span>To paste a URL for an image and commit this to the database, simply find the image you want via google or directly from a webpage and then: Right click on the image and select the option 'copy image addess':</span><p><a><img class="responsive-img" src={{url_for ('static', filename='img/image_address.png') }} alt="Copy Image Address"></a></p></div>
    </li>
  </ul>
</div><br><br>

<div class="container">
        <h5 class="header center teal-text text-lighten-2">Current Image Used For This Recipe:</h5><br>
        <div class="row center">
        <img id="current_image" class="activator responsive-img" src={{ recipe.image }} alt="{{ recipe.description }}">
        </div>
</div><br><br>

  <div class="container">
      <!--   New Category   -->
      <div class="row">
        
        <div class="col s12 m4">
          <div class="center icon-block">
            <h2 class="center teal-text"><i class="material-icons">poll</i></h2>
            <p class="center">Add a New Category Type</p>
            
          <!-- Modal Trigger -->
          <a href="#modal1" class="btn-floating modal-trigger tooltipped data-position="bottom" data-tooltip="Add A New Category" btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>
          </div>

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
            <form action="{{ url_for('insert_category') }}" method="POST" class="col s12">
      
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">poll</i>
                <input id="category" name="category" type="text" class="validate">
                <span class="helper-text" data-error="Try again" data-success="Done">New Category</span>
                <label for="category">Type New Category Here</label>
              </div>
            </div>
            
            <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">playlist_add</i>
            </button>
            </form>
            </div>
            </div>
          </div>
        </div>

        <!--   New Cuisine   -->
      <div class="row">
        
        <div class="col s12 m4">
          <div class="center icon-block">
            <h2 class="center teal-text"><i class="material-icons">poll</i></h2>
            <p class="center">Add a New Cuisine Type</p>
            
          <!-- Modal Trigger -->
          <a href="#modal2" class="btn-floating modal-trigger tooltipped data-position="bottom" data-tooltip="Add A New Cuisine" btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>
          </div>

          <!-- Modal Structure -->
          <div id="modal2" class="modal">
            <div class="modal-content">
            <form action="{{ url_for('insert_cuisine') }}" method="POST" class="col s12">
      
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">poll</i>
                <input id="cuisine" name="cuisine" type="text" class="validate">
                <span class="helper-text" data-error="Try again" data-success="Done">New Cuisine</span>
                <label for="cuisine">Type New Cuisine Here</label>
              </div>
            </div>
            
            <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">playlist_add</i>
            </button>
            </form>
            </div>
            </div>
          </div>
        </div>

        <!--   New Main Ingredient   -->
      <div class="row">
        
        <div class="col s12 m4">
          <div class="center icon-block">
            <h2 class="center teal-text"><i class="material-icons">poll</i></h2>
            <p class="center">Add a New Main Ingredient</p>
            
          <!-- Modal Trigger -->
          <a href="#modal3" class="btn-floating modal-trigger tooltipped data-position="bottom" data-tooltip="Add A New Main Ingredient" btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>
          </div>

          <!-- Modal Structure -->
          <div id="modal3" class="modal">
            <div class="modal-content">
            <form action="{{ url_for('insert_main_ing') }}" method="POST" class="col s12">
      
            <div class="row">
              <div class="input-field col s12 m12 l12">
                <i class="material-icons prefix">poll</i>
                <input id="main_ing" name="main_ing" type="text" class="validate">
                <span class="helper-text" data-error="Try again" data-success="Done">Main Ingredient</span>
                <label for="main_ing">Type New Main Ingredient  Here</label>
              </div>
            </div>
            
            <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">playlist_add</i>
            </button>
            </form>
            </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div><br><br>

<div class="container">

<div class="row">
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">image</i>
          <input id="image" name="image" type="text" class="validate" value="{{ recipe.image }}">
          <span class="helper-text" data-error="Try again" data-success="Done">Paste an image address/url into this field</span>
          <label for="image">Recipe Image URL</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">sort</i>
          <input id="name" name="name" type="text" class="validate" value="{{ recipe.name }}">
          <label for="name">Recipe Name</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <i class="material-icons prefix">sort</i>
          <input id="description" name="description" type="text" class="validate" value="{{ recipe.description }}">
          <label for="name">Recipe Description</label>
        </div>
      </div>
      
      <div class="row">
         
         <div class="input-field col s12 m6 l6">
           <i class="material-icons prefix">poll</i>
            <select id="category" name="category">
            <option value="" disabled selected>Choose A Category</option>
            {% for category in categories %}
                {% if category.category == recipe.category %} 
                <option value="{{ category.category }}" selected>{{ category.category }}</option>
                {% else %}
                <option value="{{ category.category }}">{{ category.category }}</option>
                {% endif %}            
            {% endfor %}
          </select>
        <label>Category</label>
        </div>
        
        <div class="input-field col s12 m6 l6">
           <i class="material-icons prefix">poll</i>
            <select id="cuisine" name="cuisine">
            <option value="" disabled selected>Choose A Cuisine Type</option>
            {% for cuisine in cuisines %}
            {% if cuisine.cuisine == recipe.cuisine %} 
                <option value="{{ cuisine.cuisine }}" selected>{{ cuisine.cuisine }}</option>
                {% else %}
                <option value="{{ cuisine.cuisine }}">{{ cuisine.cuisine }}</option>
                {% endif %}            
            {% endfor %}
          </select>
        <label>Cuisine</label>
        </div>
      </div>
      
      <div class="row">
         
         <div class="input-field col s12 m6 l6">
           <i class="material-icons prefix">poll</i>
            <select id="main_ing" name="main_ing">
            <option value="" disabled selected>Choose A Main Ingredient</option>
            {% for main_ing in main_ings %}
                {% if main_ing.main_ing == recipe.main_ing %} 
                <option value="{{ main_ing.main_ing }}" selected>{{ main_ing.main_ing }}</option>
                {% else %}
                <option value="{{ main_ing.main_ing }}">{{ main_ing.main_ing }}</option>
                {% endif %}            
            {% endfor %}
          </select>
        <label>Main Ingredient</label>
        </div>
        
        <div class="input-field col s12 m6 l6">
           <i class="material-icons prefix">poll</i>
            <select id="serves" name="serves">
            <option value="" disabled selected>Choose How Many This Meal Serves</option>
            {% for serves in serving %}
            {% if serves.serves == recipe.serves %} 
                <option value="{{ serves.serves }}" selected>{{ serves.serves }}</option>
                {% else %}
                <option value="{{ serves.serves }}">{{ serves.serves }}</option>
                {% endif %}            
            {% endfor %}
          </select>
        <label>Serves</label>
        </div>
        
      </div>
      
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">poll</i>
          <select id="level" name="level">
            <option value="" disabled selected>What level of difficulty in this meal?</option>
            {% for level in difficulty %}
            {% if level.level == recipe.level %} 
                <option value="{{ level.level }}" selected>{{ level.level }}</option>
                {% else %}
                <option value="{{ level.level }}">{{ level.level }}</option>
                {% endif %}            
            {% endfor %}
          </select>
        <label>Difficulty</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">star</i>
          <select id="rating" name="rating">
            <option value="" disabled selected>What rating would you give this meal?</option>
            {% for rating in ratings %}
            {% if rating.rating == recipe.rating %} 
                <option value="{{ rating.rating }}" selected>{{ rating.rating }}</option>
                {% else %}
                <option value="{{ rating.rating }}">{{ rating.rating }}</option>
                {% endif %}            
            {% endfor %}
          </select>
        <label>Rating</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">timer</i><br><br>
          <p class="range-field">
          <input type="range" id="prep_time" name="prep_time" value="{{ recipe.prep_time }}" min="0" max="120" />
          </p>
          <label for="prep_time">Prepearation Time (mins)</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">timer</i><br><br>
          <p class="range-field">
          <input type="range" id="cooking_time" name="cooking_time" value="{{ recipe.cooking_time }}" min="0" max="600" />
          </p>
          <label for="cooking_time">Cooking Time (mins)</label>
        </div>
      </div>
      
      
    <div class="container-fluid" id="edit_container">
      <h5><i class="material-icons prefix" id="container_icon">receipt</i> Ingredients</h5><br>  
      
      <div class="row">
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_1" name="ingredient_1" type="text" class="validate" value="{{ recipe.ingredient_1 }}">
          <label for="name">Ingredient 1</label>
        </div>
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_2" name="ingredient_2" type="text" class="validate" value="{{ recipe.ingredient_2 }}">
          <label for="name">Ingredient 2</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_3" name="ingredient_3" type="text" class="validate" value="{{ recipe.ingredient_3 }}">
          <label for="name">Ingredient 3</label>
        </div>
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_4" name="ingredient_4" type="text" class="validate" value="{{ recipe.ingredient_4 }}">
          <label for="name">Ingredient 4</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_5" name="ingredient_5" type="text" class="validate" value="{{ recipe.ingredient_5 }}">
          <label for="name">Ingredient 5</label>
        </div>
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_6" name="ingredient_6" type="text" class="validate" value="{{ recipe.ingredient_6 }}">
          <label for="name">Ingredient 6</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_7" name="ingredient_7" type="text" class="validate" value="{{ recipe.ingredient_7 }}">
          <label for="name">Ingredient 7</label>
        </div>
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_8" name="ingredient_8" type="text" class="validate" value="{{ recipe.ingredient_8 }}">
          <label for="name">Ingredient 8</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_9" name="ingredient_9" type="text" class="validate" value="{{ recipe.ingredient_9 }}">
          <label for="name">Ingredient 9</label>
        </div>
        <div class="input-field col s12 m16 l6">
          <input id="ingredient_10" name="ingredient_10" type="text" class="validate" value="{{ recipe.ingredient_10 }}">
          <label for="name">Ingredient 10</label>
        </div>
      </div>
      
    </div><br>
        
    <div class="container-fluid" id="edit_container">
      <h5><i class="material-icons prefix" id="container_icon">receipt</i> Method</h5><br>  
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_1" name="method_1" type="text" class="validate" value="{{ recipe.method_1 }}">
          <label for="name">Step 1</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_2" name="method_2" type="text" class="validate" value="{{ recipe.method_2 }}">
          <label for="name">Step 2</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_3" name="method_3" type="text" class="validate" value="{{ recipe.method_3 }}">
          <label for="name">Step 3</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_4" name="method_4" type="text" class="validate" value="{{ recipe.method_4 }}">
          <label for="name">Step 4</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_5" name="method_5" type="text" class="validate" value="{{ recipe.method_5 }}">
          <label for="name">Step 5</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_6" name="method_6" type="text" class="validate" value="{{ recipe.method_6 }}">
          <label for="name">Step 6</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_7" name="method_7" type="text" class="validate" value="{{ recipe.method_7 }}">
          <label for="name">Step 7</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_8" name="method_8" type="text" class="validate" value="{{ recipe.method_8 }}">
          <label for="name">Step 8</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_9" name="method_9" type="text" class="validate" value="{{ recipe.method_9 }}">
          <label for="name">Step 9</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12 m12 l12">
          <input id="method_10" name="method_10" type="text" class="validate" value="{{ recipe.method_10 }}">
          <label for="name">Step 10</label>
        </div>
      </div>
      
    </div><br>
      
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">today</i>
          <input id="data_added" name="date_added" type="text" class="datepicker" value="{{ recipe.date_added }}">
          <label for="date_added">Date Added (today)</label>
        </div>
        <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">account_circle</i>
          <input id="added_by" name="added_by" type="text" class="validate" value="{{ recipe.added_by }}">
          <label for="name">Added By</label>
        </div>
      </div>
      
      <button class="btn waves-effect waves-light pulse" type="submit" name="action">Submit Changes
      <i class="material-icons right">playlist_add</i>
      </button>
    </form>
  </div>

    
</div>
   
{% endblock %}