{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
        <h1 class="header center teal-text text-lighten-2">List Of Recipes</h1>
        <div class="row center">
          <h5 class="header col s12 dark">Select an image to see a brief description, or click the link to see the full recipe details</h5>
        </div>
</div>
    
</div class="container">
    <div class="row">
    {% for recipe in recipes %}
      <div class="col s4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src={{ recipe.image }} alt="{{ recipe.description }}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ recipe.description }}<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ recipe.description }}<i class="material-icons right">close</i></span>
                <p><strong>Category:</strong> {{ recipe.category }}</p>
                <p><strong>Cuisine:</strong> {{ recipe.cuisine }}</p>
                <p><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
                <p><strong>Cooking Time:</strong> {{ recipe.cooking_time }}</p>
                <p><strong>Rating:</strong> {{ recipe.rating }}</p></p>
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-large"><i class="material-icons left">remove_red_eye</i>View Recipe</a>
            </div>
        </div>
      </div>
    {% endfor %}
      </div>
   
{% endblock %}

