{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
        <h1 class="header center teal-text text-lighten-2">List Of Recipes</h1>
        <div class="row center">
          <h5 class="header col s12 dark">Select an image to see a brief description, or click the link to see the full recipe details</h5><br><br><br><br>
          <div class="row center">
          <a href="{{ url_for('add_recipe') }}" class="btn-floating tooltipped data-position="bottom" data-tooltip="Add your own recipe" btn-large waves-effect waves-light teal"><i class="material-icons">add</i></a>
          </div>    
        </div>
</div>

<div class="container">
  <br>
  <div class="row center">
    <div class="col s12 m6 offset-m3 l4 offset-l4">
       <div class="searchbox">
        <form method="POST"> 
          <input type="text" class="center" placeholder="What are you looking for?">
          <button id="search" value="search" name="action" type="submit" method="POST" class="btn-floating">
          <i class="material-icons">search</i>
          </button>
        </form>
       </div>
    </div>
  </div>
</div>
<br>
    
</div class="container">
    <div class="row">
    {% for recipe in recipes %}
      <div class="col s12 m4 l3">
        <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator responsive-img" src={{ recipe.image }} alt="{{ recipe.name }}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ recipe.name }}<i class="material-icons right">more_vert</i></span>
                <p><a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Recipe</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ recipe.name }}<i class="material-icons right">close</i></span>
                <p><i id="icon_left" class="material-icons left">poll</i><strong>Category:</strong> {{ recipe.category }}</p>
                <p><i id="icon_left" class="material-icons left">sort</i><strong>Cuisine:</strong> {{ recipe.cuisine }}</p>
                <p><i id="icon_left" class="material-icons left">timer</i><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
                <p><i id="icon_left" class="material-icons left">timer</i><strong>Cooking Time:</strong> {{ recipe.cooking_time }}</p>
                <p><i id="icon_left" class="material-icons left">star</i><strong>Rating:</strong> {{ recipe.rating }}</p></p>
                <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small"><i class="material-icons left">remove_red_eye</i>View Recipe</a><br><br>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn-small"><i class="material-icons left">edit</i>Edit Recipe</a>
            </div>
        </div>
      </div>
    {% endfor %}
      </div>
   
{% endblock %}

