{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
        <h3 class="header center teal-text text-lighten-2">{{ recipe.description }}</h3>
</div><br><br>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l6">                  
                <img class="responsive-img" src={{ recipe.image }} alt="{{ recipe.description }}" id="recipe_css_image">
    </div>            
    <div class="col s12 m6">
                <blockquote><strong>Category:</strong> {{ recipe.category }}</blockquote>
                <blockquote><strong>Cuisine:</strong> {{ recipe.cuisine }}</blockquote>
                <blockquote><strong>Prep Time:</strong> {{ recipe.prep_time }}</blockquote>
                <blockquote><strong>Cooking Time:</strong> {{ recipe.cooking_time }}</blockquote>
                <i id="rating_icon" class="material-icons">stars</i>
                <strong>Rating:</strong> {{ recipe.rating }}
    </div>
  </div>  
      
      <div class="row">
    <div class="col s12 m12 l12">
      <ul class="tabs">
        <li class="tab col s6 m6 l6"><a href="#tab1">Ingredients</a></li>
        <li class="tab col s6 m6 l6"><a class="active" href="#tab2">Method</a></li>
      </ul>
    </div>
    <div id="tab1" class="col s12">
      <blockquote><strong>Ingredients(test1):</strong> {{ recipe.ingredients }}</blockquote> 
                <p><strong>Ingredients(test2):</strong> {{ recipe.ingredients.values() }}</blockquote>
                <p><strong>Ingredients(test3):</strong></p>
                <li>{{ recipe.ingredients.ing1 }}</li>
                <li>{{ recipe.ingredients.ing2 }}</li>
                <li>{{ recipe.ingredients.ing3 }}</li>
                
                <p><strong>Ingredients(test4):</strong>
                {% for ing in ingredients %}
                {{ ing }}	                
                {% endfor %}</p>
                
                <p><strong>Ingredients(test5):</strong></p>
                <ul>{{ recipe.ingredients.ing1 }}</ul>
                <ul>{{ recipe.ingredients.ing2 }}</ul>
                <ul>{{ recipe.ingredients.ing3 }}</ul>
        </div>
    <div id="tab2" class="col s12"><p><strong>Method:</strong> {{ recipe.method.values() }}</p>
    </div>
  </div>
      
      
                
  </div>
  
{% endblock %}

